<%
@title = "#{@players[0][:repo].capitalize} vs #{@players[1][:repo].capitalize}"
winner = @players[@winner]
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">back</a> or <a class="button_link" href="javascript:location.reload();">retry</a>
</p>
</div>

<%
@players.each_with_index do |player, i|

  # extension is specified for gif avatars
  # this is a very ugly solution but we need it for now
  # because MCP avatar is the only gif file.
  ext = player[:avatar] =~ %r{^.*\.(.*?)$} ? '' : '.png'

  if i == @winner
%>
    <p>Winner is <b><%= player[:repo] %></b>!</p>

    <div style="width: 180px; height: 168px; margin: auto;">
      <div style="width: 88px; float: left">
        <img src="/img/characters/<%= player[:avatar] + ext %>" alt="avatar">
      </div>
      <div id="disk" style="width: 77px; float: right; display: none;"></div>
    </div>
  <% else %>
    <p><b><%= player[:repo] %></b> has been <b>derezzed</b></p>

    <% if player[:avatar] == 'jarvis' %>
      <p><span style="color: #ffd220"><i>"Death to the Users!"</i></span></p>     
    <% end %>

    <div style="width: 96px; height: 172px; position: relative; margin: auto;">
      <div style="padding-left: 5px; position: absolute;">
        <img src="/img/characters/<%= player[:avatar] + ext %>" alt="avatar">
      </div>
      <div id="derezzed" style="position: absolute; display: none;"></div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">

$('#disk').click(function(){
  noty({
      text     : '<div id="info_box">program: <a href="http://github.com/<%= winner[:name] %>/<%= winner[:repo] %>" target="_blank"><%= winner[:repo] %></a> <br /> user: <%= winner[:name] %> <br /> score: <%= winner[:score] %> <br /> branches: <%= winner[:branches] %> <br /> commits: <a href="http://github.com/<%= winner[:name] %>/<%= winner[:repo] %>/commits/master" target="_blank"><%= winner[:commits] %></a></div>',
      layout   : 'topRight',
      type     : 'information',
      theme    : 'custom',
      killer   : true,
      closeWith: ['click']
  });
});

</script>

<script type="text/javascript">

$(document).ready(function() {
    setTimeout(function(){
        var div_name = "disk";

        $("#" + div_name).append(function(){
            var image_tag = "<a href='#'><img src='/img/disk/<%= winner[:disk] %>.gif' alt='animation' /></a>";
            
            return image_tag;
        });

        document.getElementById(div_name).style.display = 'block';
        $('#' + div_name).addClass('magictime twisterInDown');
    }, 2000);

    setTimeout(function(){
      var div_name = "derezzed";

        $("#" + div_name).append(function(){
            var image_tag = "<img src='/img/characters-extra/derezzed.png' alt='derezzed-animation' />";
            
            return image_tag;
        });

        document.getElementById(div_name).style.display = 'block';
        $('#' + div_name).addClass('magictime swashIn');
    }, 1000);
});

</script>