<%
@title = "#{@players[0][:repo].capitalize} vs #{@players[1][:repo].capitalize}"
winner = @players[@winner_index]
loser = @players[@loser_index]

# choose which derezzed image to display 
# for the looser checking the disk color
derezzed_img = 'derezzed-red.png'

if loser[:disk] =~ %r{blue}
  derezzed_img = 'derezzed-blue.png'
end

# beautify avatar file in order to show character name in disk info box
character_name = winner[:avatar].gsub('_', ' ')[/.*(?=\..+$)/]
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">back</a> or <a class="button_link" href="javascript:location.reload();">retry</a>
</p>
</div>

<%
@players.each_with_index do |player, i|
  if i == @winner_index
%>
    <p>Winner is <b><%= player[:repo] %></b>!</p>

    <div style="width: 180px; height: 168px; margin: auto;">
      <div style="width: 88px; float: left">
        <img src="/img/characters/<%= player[:avatar] %>" alt="avatar">
      </div>
      <div id="disk" style="width: 77px; float: right; display: none;"></div>
    </div>
  <% else %>
    <p><b><%= player[:repo] %></b> has been <b><span id="blinky">derezzed</span></b></p>

    <% if player[:avatar] == 'jarvis.png' %>
      <p><span style="color: #ffd220"><i>"Death to the Users!"</i></span></p>
    <% end %>

    <div style="width: 96px; height: 172px; position: relative; margin: auto;">
      <div style="position: absolute;">
        <img src="/img/characters/<%= player[:avatar] %>" alt="avatar">
      </div>
      <div id="derezzed" style="position: absolute; display: none;"></div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">

function getRandomColor() {
    var colors = ['ffffff', '54d8ef', '00ff00', 'ffd220']
    var color = '#' + colors[Math.floor(Math.random() * colors.length)];
    return color;
}

$(document).ready(function() {
  setInterval(function(){
      document.getElementById('blinky').style.color = getRandomColor();
  }, 100);
});

$('#disk').click(function(){
  noty({
      text     : '<div id="info_box">program: <a href="http://github.com/<%= winner[:name] %>/<%= winner[:repo] %>" target="_blank"><%= winner[:repo] %></a> <br /> user: <%= winner[:name] %> <br /> branches: <%= winner[:branches] %> <br /> commits: <a href="http://github.com/<%= winner[:name] %>/<%= winner[:repo] %>/commits/master" target="_blank"><%= winner[:commits] %></a> <br /> character: <a href="http://tron.wikia.com/wiki/Special:Search?search=<%= character_name %>&fulltext=Search" target="_blank"><%= character_name %></a> <br /> score: <%= winner[:score] %></div>',
      layout   : 'topRight',
      type     : 'information',
      theme    : 'custom',
      killer   : true,
      closeWith: ['click']
  });
});

</script>

<script type="text/javascript">

$(document).ready(function() {
    setTimeout(function(){
        var div_name = "disk";

        $("#" + div_name).append(function(){
            var image_tag = "<a href='#'><img src='/img/disk/<%= winner[:disk] %>' alt='animation' /></a>";
            return image_tag;
        });

        document.getElementById(div_name).style.display = 'block';
        $('#' + div_name).addClass('magictime twisterInDown');
    }, 2000);

    setTimeout(function(){
      var div_name = "derezzed";

        $("#" + div_name).append(function(){
            var image_tag = "<img src='/img/characters-extra/<%= derezzed_img %>' alt='derezzed-animation' />";
            return image_tag;
        });

        document.getElementById(div_name).style.display = 'block';
        $('#' + div_name).addClass('magictime swashIn');
    }, 1000);
});

</script>
